.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #f9f9f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.page {
  max-width: 900px;
  margin: auto;
  padding: 24px;
  display: grid;
  background-color: white;
}

table {
  border-spacing: 0px;
}

