.page {
  composes: page from "../../App.css";
}

.usersTable {
  margin: auto;
  text-align: left;
  width: 100%;
}

.row {
  color: #414141;
}

.row td {
  margin: 4px;
}

.selectedRow {
  background: #efefef;
}

.editButton,
.saveButton {
  color: #555555;
}
.deleteButton {
  color: #ff5f5f;
}

.editButton,
.saveButton,
.deleteButton {
  margin: 10px;
  cursor: pointer;
}

.deleteAllButton {
  background: rgb(236, 98, 98);
  border: none;
  font-size: 1em;
  color: white;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.tableFooter {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: center;
}
