.container {
    margin: 12px;
    text-align: center;
}

.specialButtons {
    background: rgb(91, 214, 251);
}

.container button {
    width: 36px;
    border-radius: 18px;
    height: 36px;
    margin: 2px;
    border: none;
    cursor: pointer;
}